.footer-wrapper{
    background-color: #36383F;
}


.footer-link-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-link-wrapper > .foot-btn button{
    color: #FFFFFF;
    width: 355px;
    height: 80px;
    padding: 5px;
    background-color: #36383F; 
    border: 1px solid #CDCDCD;
    font-size: 1.5rem;
    
}

.footer-wrapper > .footer-link-wrapper > .foot-btn > button > .strong{
    font-weight: 900;
}